header {
  display: flex;
  justify-content: space-between;
}

#header-img-tnw {
  background-color: black;
  width: 25%;
  padding: 1em;
}

header nav img {
  width: 12%;
  padding: 1em;
  color: red;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

#header-banner {
  background-color: #ffdd33;
  padding: 0.5em;
}
